.table{
    background-color: white;
}
.back{
    background-color:red;
    color:white;
}
.front{
    background-color: green;
    color: white;
}
h2{
    color: white;
}
.header{
    color: white;
}
.th{
    text-align: center;
}