/* .container-fiuld{
    height: 100%;
    background-image: url(https://blood.kar.nic.in/img/redb.jpg);
    opacity: 0.9;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
} */
